doctype html
html
    head
        meta(charset='utf-8')
    body
        article
            if topic
                h2= topic.title
                = topic.description
                br
                = '-by '+ topic.author+'-'
                br
                hr
                form(action='/'+topic.id+'/edit' method='post')
            p
                input(type='text' name='title' value=topic.title)
            p
                textarea(name='description' placeholder='description')
                    =topic.description
            p
                input(type='text' name='author' value=topic.author)
            p
                input(type="submit")
            